<br>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">Nezinams</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-primary btn-xlarge btn-block" href="#" role="button">123</a>
    </div>
</div>
