<div class="row" ng-controller="IndividualFinishNumberController as indFinNumCtrl">
    <div class="col-xs-8">
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:6">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:12">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:18">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:24">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:30">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:36">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2" ng-repeat="finisher in indFinNumCtrl.potentialFinishers | limitTo: 6:42">
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish($index)" role="button">{{ finisher.number }}</button>
                <p class="text-center">{{ finisher.tempResult }}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-6">
                <br>
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indFinNumCtrl.markFinish(false)" role="button">Nezinams</button>
            </div>
            <div class="col-xs-6">
                <br>
                <form>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="#" ng-model="indFinNumCtrl.manualNumber">
                        <button type="submit" class="btn btn-primary btn-block" ng-click="indFinNumCtrl.markFinish(false)">Pievienot</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Seciba</th>
                            <th>Finiss</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="finish in indFinNumCtrl.finishes | limitTo: 30">
                            <td>{{ finish.slot }}</td>
                            <td>{{ finish.finish }}</td>
                            <td>{{ finish.number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
