<div ng-controller="IndividualInfoController as indInfoCtrl">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nesen finišēja</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Vārds, Uzvārds</th>
                        <th>Laiks 5km</th>
                        <th>Rezultāts</th>
                        <th>Vidējais ātrums</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nesen finišēja</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Vārds, Uzvārds</th>
                        <th>Laiks 5km</th>
                        <th>Rezultāts</th>
                        <th>Vidējais ātrums</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
