<br>
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" ng-controller="EventYearController as evtYCtrl">
            <li ng-repeat="eventYear in evtYCtrl.eventYears"
                ng-class="{active: ('10km.participants' | routeSegmentStartsWith) && ('eventYear' | routeSegmentParam) == eventYear.eventYear}">
            	<a href="#{{ '10km.participants' | routeSegmentUrl }}/{{ eventYear.eventYear }}">{{ eventYear.eventYear }}</a>
        	</li>
        </ul>
    </div>

    <div class="col-md-10" app-view-segment="2"></div>
</div>
