<div ng-controller="ParticipantController as partCtrl">
    <form class="form-horizontal"
          name="partCtrl.partForm"
          ng-submit="partCtrl.updateParticipant()"
          novalidate>
        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputNumber" class="col-sm-2 control-label">Numurs</label>
            <div class="col-xs-3">
                <input type="number"
                       name="number"
                       class="form-control"
                       id="inputNumber"
                       placeholder="#"
                       min="1"
                       max="999"
                       ng-maxlength="3"
                       ng-model="partCtrl.participant.number"
                       tabindex="1"
                       required>
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputName" class="col-sm-2 control-label">Dalībnieks</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text"
                       name="name"
                       class="form-control"
                       id="inputName"
                       placeholder="Vards, Uzvards"
                       ng-model="partCtrl.participant.name"
                       required>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-error': false}">
            <label for="inputBirthYear" class="col-sm-2 control-label">Dz. gads</label>
            <div class="col-xs-12 col-sm-3">
                <input type="number"
                       name="birthYear"
                       class="form-control"
                       id="inputBirthYear"
                       placeholder="2014"
                       min="1916"
                       max="2017"
                       ng-maxlength="4"
                       ng-model="partCtrl.participant.birthYear"
                       required>
                <p class="help-block">Vecums: {{ partCtrl.participant.eventYear - partCtrl.participant.birthYear}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Dzimums</label>
            <div class="col-xs-12 col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="inputGender" tabindex="4" id="inputGenderMale" value="V" ng-model="partCtrl.participant.gender" required> Vīrietis
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inputGender" id="inputGenderFemale" value="S" ng-model="partCtrl.participant.gender" required> Sieviete
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inputGender" id="inputGenderFemale" value="AK" ng-model="partCtrl.participant.gender" required> AK
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Velosipeds</label>
            <div class="col-xs-12 col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="inputBikeType" value="T" ng-model="partCtrl.participant.bikeType"> Kalnu
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inputBikeType" value="S" ng-model="partCtrl.participant.bikeType"> Sporta
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inputBikeType" value="C" ng-model="partCtrl.participant.bikeType"> Celu
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inputBikeType" value="AK" ng-model="partCtrl.participant.bikeType"> Cits
                </label>
                <label class="radio-inline" ng-if="partCtrl.participant.eventYear < 2001">
                    <input type="radio" name="inputBikeType" value="K" ng-model="partCtrl.participant.bikeType"> K
                </label>
                <label class="radio-inline" ng-if="partCtrl.participant.eventYear < 2001">
                    <input type="radio" name="inputBikeType" value="P" ng-model="partCtrl.participant.bikeType"> P
                </label>
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputGroup" class="col-sm-2 control-label">Grupa</label>
            <div class="col-xs-12 col-md-2">
                <input type="text"
                       name="group"
                       class="form-control"
                       id="inputGroup"
                       placeholder="-"
                       ng-model="partCtrl.participant.group"
                       readonly>
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputStart" class="col-sm-2 control-label">Starts</label>
            <div class="col-xs-12 col-md-2">
                <input type="text"
                       name="start"
                       class="form-control"
                       id="inputStart"
                       placeholder="00:00:00"
                       ng-model="partCtrl.participant.start">
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputTurn" class="col-sm-2 control-label">Apgrieziens</label>
            <div class="col-xs-12 col-md-2">
                <input type="text"
                       name="turn"
                       class="form-control"
                       id="inputTurn"
                       placeholder="00:00:00"
                       ng-model="partCtrl.participant.turn">
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputFinish" class="col-sm-2 control-label">Finiss</label>
            <div class="col-xs-12 col-md-2">
                <input type="text"
                       name="finish"
                       class="form-control"
                       id="inputFinish"
                       placeholder="00:00:00"
                       ng-model="partCtrl.participant.finish">
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputPenalty" class="col-sm-2 control-label">Sods</label>
            <div class="col-xs-12 col-md-2">
                <input type="text"
                       name="penalty"
                       class="form-control"
                       id="inputPenalty"
                       placeholder="00:00:00"
                       ng-model="partCtrl.participant.penalty">
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': false}">
            <label for="inputResult" class="col-sm-2 control-label">Rezultats</label>
            <div class="col-xs-12 col-md-2">
                <input type="text"
                       name="result"
                       class="form-control"
                       id="inputResult"
                       placeholder="00:00:00"
                       ng-model="partCtrl.participant.result"
                       readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Kolektīvs</label>
            <div class="col-sm-10">
                <tags-input ng-model="partCtrl.participant.teams" display-property="name" placeholder="Kolektivi">
                    <auto-complete source="partCtrl.loadItems($query)" select-first-match="false"></auto-complete>
                </tags-input>
            </div>
        </div>

        <div class="form-group">
            <label for="inputNotes" class="col-sm-2 control-label">Komentārs</label>
            <div class="col-sm-10">
                <textarea id="inputNotes" class="form-control" rows="2" ng-model="partCtrl.participant.comment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="eventYear" class="col-sm-2 control-label">Sacensibu gads</label>
            <div class="col-xs-12 col-md-3">
                <input type="number"
                       class="form-control"
                       id="eventYear"
                       placeholder="2017"
                       min="1996"
                       max="2017"
                       ng-maxlength="4"
                       ng-model="partCtrl.participant.eventYear"
                       required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-xs-12 col-md-3">
                <button type="button" class="btn btn-danger" ng-really-message="Vai tiesam dzest dalibnieku?" ng-really-click="partCtrl.delete()">
                    <span class="glyphicon glyphicon-trash"></span> Dzest dalibnieku
                </button>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" tabindex="5" ng-disabled="partCtrl.partForm.$invalid">Saglabat</button>
                <button type="button" class="btn btn-default" ng-click="partCtrl.back()">Atpakal</button>
            </div>
        </div>
    </form>
</div>
