<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> ({{match.model.birthYear}})
  </a>
</script>
<form class="form-horizontal"
      ng-controller="RegistrationController as regCtrl"
      ng-submit="regCtrl.registerparticipant()">
    <div class="form-group">
        <label for="inputNumber" class="col-sm-2 control-label">Numurs</label>
        <div class="col-xs-2">
            <input type="number"
                   class="form-control"
                   id="inputNumber"
                   placeholder="#"
                   ng-model="regCtrl.participation.number"
                   min="1"
                   max="999"
                   maxlength="3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Dalībnieks</label>
        <div class="col-sm-8">
            <input type="text"
                   id="inputName"
                   ng-model="regCtrl.participation.name"
                   typeahead="participant as participant.name for participant in regCtrl.getLocation($viewValue)"
                   class="form-control"
                   typeahead-loading="loadingLocations"
                   typeahead-on-select="regCtrl.onSelect($item)"
                   typeahead-template-url="customTemplate.html"
                   placeholder="Vārds Uzvārds">
            <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputBirthYear" class="col-sm-2 control-label">Dz. gads</label>
        <div class="col-xs-2">
            <input type="number" class="form-control" id="inputBirthYear" placeholder="2014" ng-model="regCtrl.participation.birthYear" min="1915" max="2015" maxlength="4">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Dzimums</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="inputGender" id="inputGenderMale" value="M" ng-model="regCtrl.participation.gender"> Vīrietis
            </label>
            <label class="radio-inline">
                <input type="radio" name="inputGender" id="inputGenderFemale" value="F" ng-model="regCtrl.participation.gender"> Sieviete
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="inputNotes" class="col-sm-2 control-label">Komentārs</label>
        <div class="col-sm-10">
            <textarea id="inputNotes" class="form-control" rows="2" ng-model="regCtrl.participation.notes"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Kolektīvs</label>
        <div class="col-sm-10">
            <tags-input ng-model="regCtrl.participation.teams">
                <auto-complete source="regCtrl.loadTags($query)"></auto-complete>
            </tags-input>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Reģistrēt</button>
            <button type="reset" class="btn btn-default">Atcelt</button>
        </div>
    </div>
</form>
