<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> ({{match.model.birthYear}})
  </a>
</script>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Jauns</a></li>
  <li role="presentation"><a href="#">Ieprieks registretie</a></li>
</ul>

<form class="form-horizontal"
      ng-controller="RegistrationController as regCtrl"
      name="regCtrl.regForm"
      ng-submit="regCtrl.registerParticipant()"
      novalidate>
    <div class="form-group has-feedback" ng-class="{'has-error': regCtrl.regForm.number.$invalid && !regCtrl.regForm.number.$pristine, 'has-success': !regCtrl.regForm.number.$invalid && regCtrl.regForm.number.$touched}">
        <label for="inputNumber" class="col-sm-2 control-label">Numurs</label>
        <div class="col-xs-3">
            <input type="number"
                   name="number"
                   class="form-control"
                   id="inputNumber"
                   placeholder="#"
                   min="1"
                   max="999"
                   ng-maxlength="3"
                   ng-model="regCtrl.participation.number"
                   ng-remote-validate="/stubs/validateFreeNumber.json"
                   required>
            <span ng-show="!regCtrl.regForm.number.$invalid && regCtrl.regForm.number.$touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span ng-show="regCtrl.regForm.number.$invalid && !regCtrl.regForm.number.$pristine && regCtrl.regForm.number.$touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span ng-show="!regCtrl.regForm.number.$pristine && regCtrl.regForm.number.$invalid">
                Number invalid
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Dalībnieks</label>
        <div class="col-sm-8">
            <input type="text"
                   id="inputName"
                   ng-model="regCtrl.participation.name"
                   typeahead="participant as participant.name for participant in regCtrl.getExistingParticipants($viewValue)"
                   class="form-control"
                   typeahead-loading="loadingLocations"
                   typeahead-on-select="regCtrl.onSelect($item)"
                   typeahead-template-url="customTemplate.html"
                   typeahead-focus-first="false"
                   placeholder="Vārds Uzvārds"
                   required>
            <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputBirthYear" class="col-sm-2 control-label">Dz. gads</label>
        <div class="col-xs-3">
            <input type="number"
                   class="form-control"
                   id="inputBirthYear"
                   placeholder="2014"
                   min="1915"
                   max="2015"
                   ng-maxlength="4"
                   ng-model="regCtrl.participation.birthYear"
                   required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Dzimums</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="inputGender" id="inputGenderMale" value="V" ng-model="regCtrl.participation.gender" required> Vīrietis
            </label>
            <label class="radio-inline">
                <input type="radio" name="inputGender" id="inputGenderFemale" value="S" ng-model="regCtrl.participation.gender" required> Sieviete
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="inputNotes" class="col-sm-2 control-label">Komentārs</label>
        <div class="col-sm-10">
            <textarea id="inputNotes" class="form-control" rows="2" ng-model="regCtrl.participation.notes"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Kolektīvs</label>
        <div class="col-sm-10">
            <tags-input ng-model="regCtrl.participation.teams" display-property="name" placeholder="Kolektivi">
                <auto-complete source="regCtrl.loadItems($query)" select-first-match="false"></auto-complete>
            </tags-input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="regCtrl.regForm.$invalid">Reģistrēt</button>
            <button type="button" class="btn btn-default" ng-disabled="!regCtrl.regForm.$dirty" ng-click="regCtrl.reset()">Atcelt</button>
        </div>
    </div>
</form>

<table class="table table-hover">
<caption>Nesen registretie dalibnieki.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Vards, Uzvards</th>
            <th>Dz. gads</th>
            <th>Dzimums</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Janis Berzins</td>
            <td>1989</td>
            <td>M</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>1989</td>
            <td>M</td>
            <td>actions</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>1989</td>
            <td>M</td>
            <td>actions</td>
        </tr>
    </tbody>
</table>
