<div class="col-md-8" ng-controller="IndividualStartController as startCtrl">
    <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>Starts</th>
                <th></th>
                <th>#</th>
                <th>Velo</th>
                <th>Dalibnieks</th>
                <th>Grupa</th>
                <th>Komentars</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="start in startCtrl.startTimes" ng-class="{'success': $index == 4, 'danger' : start.status =='failed', 'warning' : start.status =='unconfirmed'}">
                <form ng-submit="startCtrl.saveStart($index)">
                    <td>{{start.strTime}}</td>
                    <td>
                        <span class="glyphicon"
                              ng-class="{ 'glyphicon-refresh': start.status == 'saving', 'glyphicon-ok': start.status == 'saved', 'glyphicon-remove': start.status =='failed'}">
                        </span>
                        <input type="checkbox"
                               ng-if="start.status == 'unconfirmed'"
                               ng-true-value="'confirmed'"
                               ng-model="start.status"
                               ng-change="startCtrl.saveStart($index)">
                    </td>
                    <td class="col-xs-2">
                        <input type="number" class="form-control input-sm" ng-model="start.number" ng-blur="startCtrl.saveStart($index)">
                    </td>
                    <td class="col-xs-2">
                        <select class="form-control" ng-model="start.bikeType" ng-change="startCtrl.saveStart($index)">
                          <option value="T">Tautas</option>
                          <option value="S">Sporta</option>
                          <option value="C">Celu</option>
                          <option value="AK">AK</option>
                        </select>
                    </td>
                    <td>{{ start.name }}</td>
                    <td>{{ start.group }}</td>
                    <td></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
