<div class="row" ng-controller="IndividualTurnController as indTurnCtrl">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-6">
                <br>
                <form>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="#" ng-model="indTurnCtrl.manualNumber">
                        <button type="submit" class="btn btn-primary btn-block" ng-click="indTurnCtrl.setTurn(false)">Pievienot</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-6">
                <br>
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn(false)" role="button">Nezināms</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Secība</th>
                            <th>#</th>
                            <th>Laiks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="turn in indTurnCtrl.turns | limitTo: 20"
                            ng-class="{ 'warning': turned.manual === true, 'danger': turned.number === null }">
                            <td>{{ turn.sequence }}</td>
                            <td>{{ turn.number }}</td>
                            <td>{{ turn.turn }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
