<div ng-controller="IndividualTurnController as indTurnCtrl">
<br>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">Nezinams</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:6">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:12">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:18">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:24">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:30">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:36">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2" ng-repeat="turning in indTurnCtrl.turn | limitTo: 6:42">
        <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn($index)" role="button">{{ turning.number }}</a>
    </div>
</div>
