<div class="row" ng-controller="IndividualTurnController as indTurnCtrl">
    <div class="col-xs-8">
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 10">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 0)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 10:20">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 1)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 20:30">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 2)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 30:40">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 3)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 40:50">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 4)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 50:60">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 5)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 60:70">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 6)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group btn-group-lg" ng-repeat="turning in indTurnCtrl.turns | limitTo: 70:80">
                        <button type="button" class="btn btn-primary" ng-click="indTurnCtrl.setTurn($index, 7)" role="button">{{ turning.number }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-6">
                <br>
                <button type="button" class="btn btn-primary btn-xlarge btn-block" ng-click="indTurnCtrl.setTurn(false)" role="button">Nezinams</button>
            </div>
            <div class="col-xs-6">
                <br>
                <form>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="#" ng-model="indTurnCtrl.manualNumber">
                        <button type="submit" class="btn btn-primary btn-block" ng-click="indTurnCtrl.setTurn(false)">Pievienot</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Seciba</th>
                            <th>#</th>
                            <th>Laiks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="turned in indTurnCtrl.turned | limitTo: 20"
                            ng-class="{ 'warning': turned.manual === true, 'danger': turned.number === null }">
                            <td>{{ turned.slot }}</td>
                            <td>{{ turned.number }}</td>
                            <td>{{ turned.turn }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
