@import (inline) '../../../node_modules/ng-tags-input/build/ng-tags-input.css';
@import (inline) '../../../node_modules/ng-tags-input/build/ng-tags-input.bootstrap.css';

@import '../../../node_modules/bootstrap/less/bootstrap';
@icon-font-path: "/fonts/";


@media screen {
    body {
      padding-top: 51px;
    }
}

@media print {
    body {
      padding-top: 0px;
    }
}
