<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#{{ 'home' | routeSegmentUrl }}">Šķūnenieku Kauss</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: ('10km' | routeSegmentStartsWith)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">10KM</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#{{ '10km.registration' | routeSegmentUrl }}">Registracija</a></li>
                        <li><a ng-href="#{{ '10km.start' | routeSegmentUrl }}">Starts</a></li>
                        <li><a ng-href="#{{ '10km.turn.grid' | routeSegmentUrl }}">Apgrieziens</a></li>
                        <li><a ng-href="#{{ '10km.finish.input' | routeSegmentUrl }}">Finiss</a></li>
                        <li><a ng-href="#{{ '10km.chronometer.input' | routeSegmentUrl }}">Hronometrs</a></li>
                        <li class="divider"></li>
                        <li><a ng-href="#{{ '10km.participants' | routeSegmentUrl }}">Dalibnieki</a></li>
                        <li><a ng-href="#{{ '10km.results' | routeSegmentUrl }}">Protokoli</a></li>
                        <li><a ng-href="#{{ '10km.diplomas' | routeSegmentUrl }}">Diplomi</a></li>
                        <li><a ng-href="#{{ 'archive.10km' | routeSegmentUrl }}">Arhivs</a></li>
                    </ul>
                </li>
                <li ng-class="{active: ('mtb' | routeSegmentStartsWith)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">MTB</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#{{ 'mtb.registration' | routeSegmentUrl }}">Registracija</a></li>
                        <li><a ng-href="#{{ 'mtb.finish.input' | routeSegmentUrl }}">Finiss</a></li>
                        <li><a ng-href="#{{ 'mtb.chronometer.input' | routeSegmentUrl }}">Hronometrs</a></li>
                        <li class="divider"></li>
                        <li><a ng-href="#{{ 'mtb.participants' | routeSegmentUrl }}">Dalibnieki</a></li>
                    </ul>
                </li>
                <li ng-class="{active: ('triathlon' | routeSegmentStartsWith)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Triatlons</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#{{ 'triathlon.registration' | routeSegmentUrl }}">Registracija</a></li>
                        <li><a ng-href="#{{ 'triathlon.turn' | routeSegmentUrl }}">Apgrieziens</a></li>
                        <li><a ng-href="#{{ 'triathlon.finish' | routeSegmentUrl }}">Finiss</a></li>
                        <li><a ng-href="#{{ 'triathlon.chronometer' | routeSegmentUrl }}">Hronometrs</a></li>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: ('football' | routeSegmentStartsWith)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Futbols</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#{{ 'football.registration' | routeSegmentUrl }}">Registracija</a></li>
                    </ul>
                </li>
                <li ng-class="{active: ('archive' | routeSegmentStartsWith)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Arhivs</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="#{{ 'archive.10km' | routeSegmentUrl }}">10KM</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text" ng-show="mainCtrl.timer() !== null">
                    <span class="glyphicon glyphicon-time"></span> {{ mainCtrl.timer() }}
                </p>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Lietotaji</a></li>
                        <li><a ng-href="#{{ 'settings' | routeSegmentUrl }}">Uzstadijumi</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
