<table class="table table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Seciba</th>
            <th>#</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="finish in mtbFinNumCtrl.finishes | limitTo: 30">
            <td>{{ mtbFinNumCtrl.finishes.length - $index }}</td>
            <td>{{ finish.number }}</td>
            <td>
                <button type="button"
                        class="btn btn-xs btn-danger"
                        ng-really-message="Vai tiesam dzest finisa numuru ({{ finish.number }})?"
                        ng-really-click="mtbFinNumCtrl.deleteFinishNumber($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
